<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="profile">
        <img src="<%= require("./images/dog.jpg") %>">
      <h1>Dustins Journal</h1>
    </div>
  </body>
</html>
